$black: #000000;

$dark-bg: hsla(261, 39%, 3%, 1);
$dark-section-bg: hsla(261, 39%, 12%, 1);
$dark-text: hsla(261, 48%, 85%, 1);
$dark-text2: hsla(261, 20%, 71%, 1);
$dark-link: hsla(261, 100%, 87%, 1);
$dark-link-hover: hsla(261, 100%, 100%, 1);
