@import './palette';

.About {
  align-items: center;
  justify-content: center;
  background: rgb(7, 5, 11);
  background: linear-gradient(
    180deg,
    rgba(7, 5, 11, 1) 0%,
    rgba(9, 9, 121, 1) 50%,
    rgba(238, 114, 0, 1) 100%
  );
  border-bottom-left-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  display: flex;
  padding-top: 2rem;
  width: 100%;
  z-index: 12;
  // prettier-ignore
  box-shadow: 
	 0 0.33rem 0.33rem hsla(29, 100%, 47%, 0.91),
	 0 0.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 0.63rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 0.93rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 1.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 2.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 3.33rem 0.33rem hsla(29, 100%, 47%, 0.1),
	 0 4.33rem 0.33rem hsla(29, 100%, 47%, 0.1);

  @media (max-width: 580px) {
    padding-bottom: 4rem;
  }

  & > * {
    transition: color 0.5s linear;
  }

  &.lightMode {
    background: rgb(143, 195, 255);
    background: linear-gradient(
      180deg,
      rgba(143, 195, 255, 1) 0%,
      rgba(251, 255, 143, 1) 50%,
      rgba(255, 147, 143, 1) 100%
    );
    & > * {
      color: $light-text;
    }

    span.yin-yang {
      transform: rotate(180deg);
      &:hover {
        transform: rotate(90deg);
      }
    }

    box-shadow: 0 0.33rem 0.33rem hsla(2, 100%, 78%, 0.91),
      0 0.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 0.63rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 0.93rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 1.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 2.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 3.33rem 0.33rem hsla(2, 100%, 78%, 0.1),
      0 4.33rem 0.33rem hsla(2, 100%, 78%, 0.1);
  }

  .About__body {
    display: flex;
    flex-direction: column;
    margin: 0 0.5rem;
    max-width: 500px;
    perspective: 1000px;

    @media (max-width: 580px) {
      max-width: 350px;
      text-align: center;
    }

    @media (max-width: 260px) {
      max-width: 180px;
    }
  }

  header.About__header {
    font-size: 2rem;
  }

  div.About__p {
    margin: 1rem;

    @media (max-width: 580px) {
      // padding: 0 1rem;
      padding: 0 1.3rem;
    }

    &:last-child {
      text-align: center;
      color: $dark-bg;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;

      @media (max-width: 580px) {
        padding: 0 4rem;
      }

      span {
        margin-top: 2rem;
      }
    }
  }

  p {
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.03rem;
  }

  span {
    float: left;
    font-size: 2rem;
    margin-right: 0.5rem;
    margin-top: 0.33rem;
    transition: transform 0.5s ease-in;

    @media (max-width: 580px) {
      display: none;
    }

    &.yin-yang {
      cursor: pointer;
      margin: 0.65rem 0.5rem 0.5rem 0;
      &:hover {
        transform: scale(2) rotate(180deg);
        transition: transform 0.5s ease-out;
      }
    }
  }
}
