@import './reset';
@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

.App {
  background: beige;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;

  .App__header {
    display: flex;
    align-items: center;
    justify-content: center;
    .NavBar {
      a {
        font-size: 1.5rem;
        margin: 0 1rem;
        text-decoration: none;
        &:hover {
          color: slateblue;
        }
        &.active {
          color: black;
        }
      }
    }
  }

  main {
    font-family: 'Montserrat', sans-serif;
  }
}
