@import './palette';

.NavBar {
  align-items: center;
  background: $dark-bg;
  border-bottom: 1px solid $black;
  display: flex;
  justify-content: center;
  left: 0;
  overflow: scroll;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 12;

  a {
    color: $dark-link;
    font-size: 1.5rem;
    margin: 0 1rem;
    text-decoration: none;
    &:hover {
      color: $dark-link-hover;
    }
    &.active {
      color: black;
    }
  }

  span {
    cursor: pointer;
    font-size: 3rem;
    margin: 0 1rem;
  }
}
