.Portfolio {
  background: palegoldenrod;
  border-radius: 4px;
  margin-top: 16px;
  padding: 8px;
  width: 100%;
}

.Portfolio header {
  display: flex;
  h3 {
    font-size: 2rem;
  }
}

.Portfolio__body {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.Portfolio__card {
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 4px;
  transition: all 0.5s ease;
  width: 200px;

  &:hover {
    transform: scale(1.2);
  }

  .Portfolio__card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4px;
    img {
      border: 1px solid beige;
      border-radius: 4px;
      object-fit: cover;
      padding: 8px;
      width: 200px;
    }
  }
}
