@import './palette';

.Profile {
  align-items: center;
  justify-content: center;
  background: $dark-bg;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  display: flex;
  padding: 4rem 0;
  width: 100%;
  z-index: 1;
}

.Profile__body {
  align-items: center;
  // background: $dark-section-bg;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  margin: 4rem;
  max-width: 800px;
  padding: 8px;

  @media (max-width: 580px) {
    flex-direction: column-reverse;
  }
}

.Profile__left-side {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  @media (max-width: 580px) {
    align-items: center;
  }
  a {
    color: $dark-link;
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    &:hover {
      color: $dark-link-hover;
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }

  .brackets__container {
    // border: 1px solid red;
    display: flex;

    .bigredbrackets {
      color: $dark-bg;
      font-size: 10rem;
      margin-top: -1rem;
    }
    .brackets__body {
      // border: 1px solid white;
      justify-content: center;
      display: flex;
      flex-direction: column;
    }
  }

  .icons {
    // border: 1px solid red;
    // padding: 8px 0;
    img {
      cursor: pointer;
      margin: 8px;
      width: 30px;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1) rotate(5deg);
      }
    }
    img.lambda {
      width: 25px;
    }
    img.linkedin {
      width: 35px;
    }
  }
}

.Profile__right-side {
  // border: 1px solid red;
  margin-left: 16px;
  padding: 16px;
  img {
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0.25;
    width: 150px;
    &:hover {
      transform: scale(1.1) rotate(-5deg);
      opacity: 1;
    }
  }
}
