@import './palette';

.Profile {
  align-items: center;
  justify-content: center;
  background: $dark-bg;
  display: flex;
  padding: 4rem 0;
  width: 100%;
  z-index: 1;

  &.lightMode {
    background: $light-bg;
    color: $light-text;
    a {
      color: $light-link;
      &:hover {
        color: $light-text;
      }
    }
  }
}

.Profile__body {
  align-items: center;
  border-radius: 8px;

  display: flex;
  justify-content: space-between;
  margin: 4rem;
  max-width: 800px;
  padding: 8px;

  @media (max-width: 580px) {
    flex-direction: column-reverse;
  }
}

.Profile__left-side {
  display: flex;
  flex-direction: column;
  margin-left: 8px;
  @media (max-width: 580px) {
    align-items: center;
  }
  a {
    color: $dark-link;
    font-size: 1rem;
    text-decoration: none;
    line-height: 2rem;
    &:hover {
      color: $dark-link-hover;
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  h2 {
    font-size: 1.2rem;
  }

  .icons {
    img {
      cursor: pointer;
      margin: 8px;
      width: 30px;
      transition: all 0.5s ease;
      &:hover {
        transform: scale(1.1) rotate(5deg);
      }
    }
    img.lambda {
      width: 25px;
    }
    img.linkedin {
      width: 35px;
    }
  }
}

.Profile__right-side {
  margin-left: 16px;
  padding: 16px;
  &.lightMode {
    img {
      opacity: 0.77;
    }
  }
  img {
    border-radius: 50%;
    transition: all 0.5s ease;
    opacity: 0.25;
    width: 150px;
    &:hover {
      transform: scale(1.1) rotate(-5deg);
      opacity: 1;
    }
  }
}
