@import './palette';

.ToyBox {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5rem;
  width: 100%;
  z-index: 123;
}

.ToyBox__body {
  align-items: center;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding-top: 3rem;
  z-index: 1;

  header {
    display: flex;
    h3 {
      color: $dark-text2;
      font-size: 2rem;
    }
  }
}

.ToyBox__buttons {
  margin: 4rem;
  span.drum {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    font-size: 8rem;
    transition: all 0.3s ease;

    &:after {
      font-size: 1rem;
      content: 'DrumMachine.js';
    }

    &:hover {
      font-size: 10rem;
      transition: all 0.3s ease;
    }
  }
}
