@import './palette';

.ToyBox {
  background: $dark-bg;
  border-radius: 4px;
  margin-top: -6rem;
  padding-top: 8rem;
  width: 100%;
  z-index: 1;
}

.ToyBox__body {
  max-width: 800px;
}

.ToyBox header {
  display: flex;
  h3 {
    color: $dark-text2;
    font-size: 2rem;
  }
}

.ToyBox__body {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
}

.ToyBox__card {
  border-radius: 4px;
  color: $dark-text;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin: 16px;
  padding: 4px;
  transition: all 0.5s ease;
  width: 200px;

  &:hover {
    transform: scale(1.2);
  }

  .ToyBox__card-body {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 4px;
    img {
      // border: 1px solid beige;
      border-radius: 4px;
      object-fit: cover;
      width: 200px;
    }
  }
}
