@import './palette';
@import './mixins';

.Contact {
  @include ComponentWrapper();
  @include darkMode-altBG();
  flex-direction: column;
  padding-bottom: 0;
  width: 100%;

  @media (max-width: 475px) {
    margin-top: 10rem;
  }

  &.lightMode {
    @include lightMode-altBG();

    .alert-message {
      color: $light-alert;
    }

    label {
      color: $light-text;
    }

    input {
      background: $dark-link-hover;
      box-sizing: border-box;
      color: $light-text;
    }

    input:not(:focus):invalid {
      border: 2px solid $light-alert;
    }

    textarea {
      background: $dark-link-hover;
      color: $light-text;
    }

    textarea:not(:focus):invalid {
      border: 2px solid $light-alert;
    }

    div.required.alert {
      &:after {
        content: 'This field is required';
        color: $light-alert;
        margin: 0.4rem;
      }
    }
  }
}

.Contact__body {
  align-items: center;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: 4rem;
  margin-bottom: 0;
  max-width: 800px;
  padding: 0.1rem;
  width: 100%;

  .alert-message {
    color: $alert;
  }

  form {
    display: flex;
    flex-direction: column;
    margin: 2% 5%;
    max-width: 500px;
    width: 80%;

    header {
      font-size: 1.5rem;
      text-align: center;
    }

    div.required {
      display: flex;
      flex-direction: column;
    }

    div.required.alert {
      &:after {
        content: 'This field is required';
        color: $alert;
        margin: 0.4rem;
      }
    }

    label {
      color: $dark-text2;
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      margin-top: 30px;
    }

    input {
      background-color: $dark-text;
      border: 2px solid $dark-text;
      border-radius: 5px;
      color: $black;
      font-family: inherit; // need this to override defaults
      font-size: inherit; // need this to override defaults
      letter-spacing: 0.11rem;
      margin-top: 0.4rem;
      padding: 10px;
      outline: none;

      &:not(:focus):invalid {
        border: 2px solid $alert;
      }
    }

    textarea {
      background-color: $dark-text;
      border: 2px solid $dark-text;
      border-radius: 5px;
      color: $black;
      letter-spacing: 0.11rem;
      margin-top: 0.4rem;
      outline: none;
      padding: 10px;
      resize: vertical;
      font-family: inherit; // need this to override defaults
      font-size: inherit; // need this to override defaults

      &:not(:focus):invalid {
        border: 2px solid $alert;
      }
    }

    button {
      @include button();
      margin-top: 2rem;
    }
  }
}
