@import './palette';
@import './mixins';

.Projects {
  @include ComponentWrapper();
  @include darkMode-altBG();
  margin-top: 2rem;

  @media (max-width: 475px) {
    margin-top: 12rem;
  }

  &.lightMode {
    @include lightMode-altBG();
  }
}

.Projects__body {
  margin: 2rem;
  margin-bottom: 0;
  max-width: 800px;
  padding: 0.1rem;
}

.Projects__card {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;

  &:last-child {
    margin-bottom: 0;
  }

  h3.column-view {
    display: none;
    font-size: 2.2rem;
  }

  @media (max-width: 800px) {
    align-items: center;
    flex-direction: column;

    h3.column-view {
      display: flex;
    }

    h3.row-view {
      display: none;
    }

    img.Projects__card-thumb {
      width: 100%;
    }
  }

  a {
    margin-right: 1rem;
    padding: 0;
    @media (max-width: 800px) {
      margin-right: 0;
    }
  }

  img.Projects__card-thumb {
    border: 0.25rem inset slateblue;
    cursor: pointer;
    height: 20rem;
    object-fit: cover;
    opacity: 0.65;
    margin-top: 1rem;

    &:hover {
      border: 0.25rem inset $wesbos;
      opacity: 1;
    }
  }
}

.Projects__card-writeup {
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 2.2rem;
  }

  ul.text {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
    list-style: square inside;
    margin: 1rem;

    li {
      margin: 1rem;
    }
  }

  .buttons {
    display: flex;

    a {
      margin: 1rem;
      width: 100%;
    }

    button {
      @include button();
      width: 100%;

      @media (max-width: 475px) {
        width: 100%;
      }
    }

    button.github-btn {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0.59rem;
      img {
        width: 2rem;
      }
    }
  }
}
